/********************************************************
  
styles_color.css

  * Sets non-default colors in one place.
  * Sets images.
    
********************************************************/

/* Core */

body {
  color:#58656a; 
  background:#4d4b4a url(pix/body.png);
}

#shrinkwrapper {
  background:transparent;
}

#contentwrapper {
  background: white;
}

input[type=text], input[type="password"], select {
  border: 2px double #999999;
  border-bottom-color: #CCCCCC; 
  border-right-color: #CCCCCC;
  background-color: #FFFFFF;
  background-image: url(pix/background_form_element2.gif);
  background-repeat: repeat-x;
  color: #333333;
}

input[type=submit], input[type="reset"], input[type="button"], button[type="submit"], button[type="file"] {
  border: 1px double #999999;
  border-top-color: #CCCCCC; 
  border-left-color: #CCCCCC;
  background-color: #FFFFFF;
  background-image: url(pix/background_form_element.gif);
  background-repeat: repeat-x;
  color: #333333;
}

h1, h2, h3, h4, h5, h6,
a:link, a:visited, a:active,
.tabtree ul li ul li a span {
  color:#58656a;
}

a:hover,
.tabtree ul li ul li a span:hover,
.navbar a:link, .navbar a:visited, .navbar,
.forumheaderlist .lastpost a:link,
.forumheaderlist .lastpost a:visited /* Moodle Bug */ {
  color:#798a90;
}

.sideblock .date,
.sideblock .date a:link,
.sideblock .date a:visited,
.forupost .author {
  color: #a7a8aa;
}

.generalbox {
  border-color: #fff;
}
#intro.generalbox,
#course-user .section,
#course-reset .generalbox .generalbox,
#blog-preferences .generalbox,
#course-recent .generalbox,
.errorbox,
.settingsform fieldset {
  background: #f5f5f5;
  border-color: #ddd;
  border-style: dashed;
}

#course-user .section {
  margin: 10px auto;
}

/* Breadcrumb */

.breadcrumb .logininfo a:link, .breadcrumb .logininfo a:visited, .breadcrumb .logininfo a:active {
  color: #ffffff;
}

.navbar, .headermenu  {
  background:#505050 url(pix/searchform-bg.png) repeat-x scroll left bottom;
}

.navbar {
  border-color:#DDDDDD;
  color:#CCCCCC; 
}

.navbar a:hover, .navbar a:active {
  color:#EEEEEE;
}

.navbar a:link, .navbar a:visited {
  color:#FFFFFF;
  font-weight:bold;
}

#breadcrumb-wrap-right, #headermenu-wrap-right {
  background:transparent url(pix/navbar_right.png) no-repeat scroll right bottom;
}

#breadcrumb-wrap-left, #headermenu-wrap-left {
  background:transparent url(pix/navbar_left.png) no-repeat scroll left bottom;
}

/* User Pictures */

img.userpicture,
img.grouppicture,
#message-index img.userpicture {
  background:url(pix/shadow_35.png) no-repeat bottom right !important;
  padding:0 4px 4px 0;
}

.sideblock img.userpicture {
  background:url(pix/shadow_16.png) no-repeat bottom right !important;
  padding:0 2px 2px 0;
}

.userinfobox img.userpicture,
#message-history img.userpicture,
#message-user img.userpicture {
  background:url(pix/shadow_100.png) no-repeat bottom right !important;
  padding:0 7px 7px 0;
}

/* Sideblocks */

.sideblock.hidden .header .hide-show img.hide-show-image {
  background:transparent url(pix/t/switch_plus.gif) no-repeat scroll center bottom;
}

.sideblock .header .hide-show img.hide-show-image {
  background:transparent url(pix/t/switch_minus.gif) no-repeat scroll center bottom;
}

.sideblock .title h2 {
  border-bottom: 1px solid #8a97a0;
  margin-bottom: 6px;
  color: #58656A;
}

.star,
h2.headingblock,
.block_site_main_menu .title h2 {
  border-bottom: 1px solid #8a97a0;
  font-weight: bold;
  padding: 0;
}

body#site-index .headingblock,
body#course-view .headingblock {
  margin-bottom: 15px;
}

/* Calendar */

#calendar .maincalendar,
#calendar .sidecalendar,
#calendar .minicalendar .today {
  border-color: #10a8e0;
  border-bottom-width:thin;
  border-top-width:thin;
  border-left-width:thin;
  border-right-width:thin;
}

#calendar .today{
  border-color: #10a8e0;
  border-bottom-width:medium;
  border-top-width:medium;
  border-left-width:medium;
  border-right-width:medium;
}

table.minicalendar,
#calendar .maincalendar table.calendarmonth th {
  border-color: #ffffff;
}

#calendar .maincalendar .eventlist .event {
  border-color:#DDDDDD;
}

#calendar .maincalendar .eventlist .event .topic,
#calendar .maincalendar .eventlist .event .picture,
#calendar .maincalendar .eventlist .event .side {
  background-color:#EEEEEE;
}

#calendar .maincalendar table.calendarmonth ul.events-underway {
  color:#999999;
}

#calendar .sidecalendar .minicalendarblock div,
#calendar .maincalendar .controls {
  border: 1px dashed #ddd;
  background: #eee;
}

#calendar .maincalendar .controls {
  width: 89%;
  margin-left: 7px;
  margin-top: 11px;
  padding: 10px 30px 10px 30px;
}

/*Accessibility: increase contrast, darker link/weekend colors, lighter event backgrounds. */
.minicalendar a,
.calendarmonth a {
  color:#000077;
}

#calendar .event_global,
.minicalendar .event_global,
.block_calendar_month .event_global {
  border-color:#fcf7b9 !important; /* #C5E7BC */
  background-color:#fcf7b9;
}

#calendar .event_course,
.minicalendar .event_course,
.block_calendar_month .event_course {
  border-color:#bfe9f5 !important; /* #EEC2AC */
  background-color:#bfe9f5;
}

#calendar .event_group,
.minicalendar .event_group,
.block_calendar_month .event_group {
  border-color:#e2d8b9 !important; /* #EDD69D */
  background-color:#e2d8b9;
}

#calendar .event_user,
.minicalendar .event_user,
.block_calendar_month .event_user {
  border-color:#c6d5c6 !important; /* #CBD6DB */
  background-color:#c6d5c6;
}

#calendar .duration_global,
.minicalendar .duration_global {
  border-top-color:#66D14D !important;
  border-bottom-color:#66D14D !important;
}

#calendar .duration_course,
.minicalendar .duration_course {
  border-top-color:#10a8e0 !important;
  border-bottom-color:#10a8e0 !important;
}

#calendar .duration_group,
.minicalendar .duration_group {
  border-top-color:#FBBB23 !important;
  border-bottom-color:#FBBB23 !important;
}

#calendar .duration_user,
.minicalendar .duration_user {
  border-top-color:#A1BECB !important;
  border-bottom-color:#A1BECB !important;
}

#calendar .weekend,
.minicalendar .weekend {
  color:#990000;
}

.cal_popup_fg {
  background-color:#FFFFFF;
}

.cal_popup_bg {
  border-color:#000000;
  background-color:#FFFFFF;
}

#calendar .maincalendar .filters table,
#calendar .sidecalendar .filters table,
.block_calendar_month .filters table {
  background-color: #EEEEEE;
}

#calendar .maincalendar .filters table{
visibility:hidden;
margin-top: -20px;
}

/* Glossary */

.entryboxheader {
  border-color: #BBBBBB;
}

.entrybox {
  border-color: #BBBBBB;
}

.glossarypost {
  border-color: #DDDDDD;
}

.glossarypost .entryheader,
.glossarypost .entryapproval,
.glossarypost .picture,
.glossarypost .entryattachment,
.glossarypost .left {
  background-color: #F0F0F0;
}

.glossarycomment {
  border-color: #DDDDDD;
}

.glossarycomment .entryheader,
.glossarycomment .picture,
.glossarycomment .left {
  background-color: #F0F0F0;

}

#mod-glossary-report .generalbox .teacher {
  background: #F0F0F0;
}

.glossarycategoryheader {
  background-color: #dddddd;
}

.glossaryformatheader {
  background-color: #dddddd;
}

/* Tabs */


/***
 *** Tabs
 ***/


/*globalnav*/
.tabtree {
  position:relative;
}

.tablink a:link,
.tablink a:visited {
	color:#000066;
}

.selected .tablink a:link,
.selected .tablink a:visited {
	color:#000000;
}
.tabs .side,
.tabrow td {
	border-color: #AAAAAA;
}

.tabrow0 a span {
  background: transparent url(pix/tab/right.png) no-repeat right top;
}

.tabrow0 a span {
  background: transparent url(pix/tab/right.png) no-repeat right top;
}

.tabrow0 a {
  margin:0pt 0pt 0pt 0pt;
  background: transparent url(pix/tab/left.png) no-repeat left top;
}

.tabrow0 a:hover {
  background-image: url(pix/tab/left_hover.png);
}

.tabrow0 a:hover span {
  background-image: url(pix/tab/right_hover.png);
}


.here a, .tabrow0 .here a:hover {
  background-image: url(pix/tab/left_selected.png);
}

.tabrow0 .here span, .tabrow0 .here a:hover span {
  background-image: url(pix/tab/right_selected.png);
}


/*subnav*/

.tabrow0 ul {
    background: none;
    border-bottom: 1px solid #aaa;
}

/* Color de fons blanc per a elements que sobresurten */
#layout-table, #user-grades {
    background-color: white;
}
